body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.hero-banner {
    background: url('images/cloud-computing.jpg') no-repeat center center;
    background-size: cover;
    padding: 80px 20px;
    text-align: center;
    color: white;
}

.hero-banner h1, .hero-banner h2 {
    margin: 0;
    font-size: 2rem;
}

.hero-banner h2.name {
    font-size: 2.5rem;
    color: white; /* Garantindo que o nome "Kamila Rosa" seja branco */
    font-weight: bold;
}

header {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #0056b3;
}

.nav-button {
    background-color: #007bff;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    transition: background-color 0.3s ease;
}

.nav-button:hover {
    background-color: #0056b3;
}

.hero {
    text-align: center;
    padding: 40px 20px;
    background-color: #007bff;
    color: white;
}

.hero h2 {
    font-size: 2rem;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.button {
    padding: 12px 25px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}

.featured-project, .certifications {
    text-align: center;
    padding: 40px 20px;
    background-color: white;
    margin: 30px auto;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.featured-project h2, .certifications h2 {
    color: #007bff;
    font-size: 2rem;
    margin-bottom: 20px;
}

.featured-project p {
    font-size: 1.1rem;
    color: #555;
    line-height: 1.6;
    padding: 0 20px;
}

.certifications ul {
    list-style: none;
    padding: 0;
}

.certifications li {
    font-size: 1.2rem;
    background: #f8f9fa;
    margin: 10px auto;
    padding: 10px 15px;
    border-radius: 8px;
    display: inline-block;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}
